<div class="container">
<input type="file" name="file" id"file" style="float:right">
<script>
  document.getElementById("file").addEventListener("change", (ev) => {
    console.log("image_script running...");
    ev.preventDefault();
    const formdata = new FormData();
    formdata.append("image", ev.target.files[0]);
    fetch("http://localhost:3001/reminders/uploads/", {
      method: "POST",
      body: formdata,
    })
      .then((data) => data.json())
      .then((data) => console.log(data));
  });
</script>
<image src="<%= profileImage %>" width="100" height="100" style="float:right">

<h1 class="page-header">Reminders</h1>

<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      || 
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">Completed</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">Incomplete</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </li>
  <% }) %>
</ul>

</div>
